In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [2]:
dados = pd.read_excel("https://github.com/alura-cursos/covid-19-clinical/blob/main/Kaggle_Sirio_Libanes_ICU_Prediction.xlsx?raw=true")

In [3]:
janelas_lista = dados['WINDOW'].unique()
janelas_dict = {}
i = 0
for janela in janelas_lista:
    janelas_dict[janela] = i
    i += 1
print (janelas_lista)
print (janelas_dict)

['0-2' '2-4' '4-6' '6-12' 'ABOVE_12']
{'0-2': 0, '2-4': 1, '4-6': 2, '6-12': 3, 'ABOVE_12': 4}

In [4]:
dados['COD_WINDOW'] = dados['WINDOW'].map(janelas_dict)
dados.head()

   PATIENT_VISIT_IDENTIFIER  AGE_ABOVE65  ... ICU  COD_WINDOW
0                         0            1  ...   0           0
1                         0            1  ...   0           1
2                         0            1  ...   0           2
3                         0            1  ...   0           3
4                         0            1  ...   1           4

[5 rows x 232 columns]

In [5]:
pacientes_UTI = dados[['PATIENT_VISIT_IDENTIFIER','COD_WINDOW',
                       'ICU']].query('ICU == 1').groupby('PATIENT_VISIT_IDENTIFIER').min()
pacientes_UTI.columns = ['COD_WINDOW_INIC','ICU']
pacientes_UTI

                          COD_WINDOW_INIC  ICU
PATIENT_VISIT_IDENTIFIER
0                                       4    1
1                                       0    1
2                                       4    1
11                                      3    1
13                                      4    1
...                                   ...  ...
373                                     1    1
376                                     2    1
379                                     0    1
380                                     4    1
382                                     4    1

[195 rows x 2 columns]

In [6]:
dados_tratados = dados.query('ICU != 1').drop('ICU', axis=1)
dados_tratados = dados_tratados.join(pacientes_UTI, on='PATIENT_VISIT_IDENTIFIER', how='left')
dados_tratados['DIF_COD_WINDOW'] = dados_tratados['COD_WINDOW_INIC'] - dados_tratados['COD_WINDOW']
dados_tratados.query('DIF_COD_WINDOW < 0')

Empty DataFrame
Columns: [PATIENT_VISIT_IDENTIFIER, AGE_ABOVE65, AGE_PERCENTIL, GENDER, DISEASE GROUPING 1, DISEASE GROUPING 2, DISEASE GROUPING 3, DISEASE GROUPING 4, DISEASE GROUPING 5, DISEASE GROUPING 6, HTN, IMMUNOCOMPROMISED, OTHER, ALBUMIN_MEDIAN, ALBUMIN_MEAN, ALBUMIN_MIN, ALBUMIN_MAX, ALBUMIN_DIFF, BE_ARTERIAL_MEDIAN, BE_ARTERIAL_MEAN, BE_ARTERIAL_MIN, BE_ARTERIAL_MAX, BE_ARTERIAL_DIFF, BE_VENOUS_MEDIAN, BE_VENOUS_MEAN, BE_VENOUS_MIN, BE_VENOUS_MAX, BE_VENOUS_DIFF, BIC_ARTERIAL_MEDIAN, BIC_ARTERIAL_MEAN, BIC_ARTERIAL_MIN, BIC_ARTERIAL_MAX, BIC_ARTERIAL_DIFF, BIC_VENOUS_MEDIAN, BIC_VENOUS_MEAN, BIC_VENOUS_MIN, BIC_VENOUS_MAX, BIC_VENOUS_DIFF, BILLIRUBIN_MEDIAN, BILLIRUBIN_MEAN, BILLIRUBIN_MIN, BILLIRUBIN_MAX, BILLIRUBIN_DIFF, BLAST_MEDIAN, BLAST_MEAN, BLAST_MIN, BLAST_MAX, BLAST_DIFF, CALCIUM_MEDIAN, CALCIUM_MEAN, CALCIUM_MIN, CALCIUM_MAX, CALCIUM_DIFF, CREATININ_MEDIAN, CREATININ_MEAN, CREATININ_MIN, CREATININ_MAX, CREATININ_DIFF, FFA_MEDIAN, FFA_MEAN, FFA_MIN, FFA_MAX, FFA_DIFF, GGT_MEDIAN, GGT_MEAN, GGT_MIN, GGT_MAX, GGT_DIFF, GLUCOSE_MEDIAN, GLUCOSE_MEAN, GLUCOSE_MIN, GLUCOSE_MAX, GLUCOSE_DIFF, HEMATOCRITE_MEDIAN, HEMATOCRITE_MEAN, HEMATOCRITE_MIN, HEMATOCRITE_MAX, HEMATOCRITE_DIFF, HEMOGLOBIN_MEDIAN, HEMOGLOBIN_MEAN, HEMOGLOBIN_MIN, HEMOGLOBIN_MAX, HEMOGLOBIN_DIFF, INR_MEDIAN, INR_MEAN, INR_MIN, INR_MAX, INR_DIFF, LACTATE_MEDIAN, LACTATE_MEAN, LACTATE_MIN, LACTATE_MAX, LACTATE_DIFF, LEUKOCYTES_MEDIAN, LEUKOCYTES_MEAN, LEUKOCYTES_MIN, LEUKOCYTES_MAX, LEUKOCYTES_DIFF, LINFOCITOS_MEDIAN, LINFOCITOS_MEAN, ...]
Index: []

[0 rows x 234 columns]

In [7]:
dados_tratados.drop(['DIF_COD_WINDOW','COD_WINDOW_INIC','COD_WINDOW'], axis=1, inplace=True)
dados_tratados['ICU'] = dados_tratados['ICU'].fillna(0) 
print (dados_tratados['ICU'].value_counts())
dados_tratados.head()

0.0    950
1.0    460
Name: ICU, dtype: int64

    PATIENT_VISIT_IDENTIFIER  AGE_ABOVE65  ... WINDOW  ICU
0                          0            1  ...    0-2  1.0
1                          0            1  ...    2-4  1.0
2                          0            1  ...    4-6  1.0
3                          0            1  ...   6-12  1.0
10                         2            0  ...    0-2  1.0

[5 rows x 231 columns]

In [8]:
percentil_idade = dados_tratados['AGE_PERCENTIL'].unique()
percentil_idade.sort()
perc_idade_dict = {}
i = 0
for item in percentil_idade:
    perc_idade_dict[item] = i
    i += 1
perc_idade_dict

{'10th': 0,
 '20th': 1,
 '30th': 2,
 '40th': 3,
 '50th': 4,
 '60th': 5,
 '70th': 6,
 '80th': 7,
 '90th': 8,
 'Above 90th': 9}

In [9]:
dados_tratados['AGE_PERCENTIL'] = dados_tratados['AGE_PERCENTIL'].map(perc_idade_dict)
dados_tratados

      PATIENT_VISIT_IDENTIFIER  AGE_ABOVE65  ...    WINDOW  ICU
0                            0            1  ...       0-2  1.0
1                            0            1  ...       2-4  1.0
2                            0            1  ...       4-6  1.0
3                            0            1  ...      6-12  1.0
10                           2            0  ...       0-2  1.0
...                        ...          ...  ...       ...  ...
1920                       384            0  ...       0-2  0.0
1921                       384            0  ...       2-4  0.0
1922                       384            0  ...       4-6  0.0
1923                       384            0  ...      6-12  0.0
1924                       384            0  ...  ABOVE_12  0.0

[1410 rows x 231 columns]

In [10]:
features_continuas_colunas = dados_tratados.iloc[:, 13:-2].columns
features_continuas = dados_tratados.groupby("PATIENT_VISIT_IDENTIFIER",as_index=False)[features_continuas_colunas].fillna(method='bfill').fillna(method='ffill')
features_categoricas = dados_tratados.iloc[:, :13]
saida = dados_tratados.iloc[:, -2:]
dados_limpos = pd.concat([features_categoricas, features_continuas, saida], ignore_index=True,axis=1)
dados_limpos.columns = dados_tratados.columns
dados_limpos.describe()

       PATIENT_VISIT_IDENTIFIER  ...          ICU
count               1410.000000  ...  1410.000000
mean                 195.193617  ...     0.326241
std                  111.378797  ...     0.469003
min                    0.000000  ...     0.000000
25%                   99.000000  ...     0.000000
50%                  195.000000  ...     0.000000
75%                  294.000000  ...     1.000000
max                  384.000000  ...     1.000000

[8 rows x 230 columns]

In [11]:
dados_limpos.dropna(inplace=True)
dados_limpos.describe()

       PATIENT_VISIT_IDENTIFIER  ...          ICU
count               1405.000000  ...  1405.000000
mean                 195.180071  ...     0.327402
std                  111.576713  ...     0.469432
min                    0.000000  ...     0.000000
25%                   99.000000  ...     0.000000
50%                  194.000000  ...     0.000000
75%                  294.000000  ...     1.000000
max                  384.000000  ...     1.000000

[8 rows x 230 columns]

In [12]:
dados_limpos.head()

    PATIENT_VISIT_IDENTIFIER  AGE_ABOVE65  ...  WINDOW  ICU
0                          0            1  ...     0-2  1.0
1                          0            1  ...     2-4  1.0
2                          0            1  ...     4-6  1.0
3                          0            1  ...    6-12  1.0
10                         2            0  ...     0-2  1.0

[5 rows x 231 columns]

In [13]:
dados_final = dados_limpos.loc[dados_limpos["WINDOW"] == "0-2"]
dados_final.reset_index(drop=True, inplace=True)
dados_final.head()

   PATIENT_VISIT_IDENTIFIER  AGE_ABOVE65  ...  WINDOW  ICU
0                         0            1  ...     0-2  1.0
1                         2            0  ...     0-2  1.0
2                         3            0  ...     0-2  0.0
3                         4            0  ...     0-2  0.0
4                         5            0  ...     0-2  0.0

[5 rows x 231 columns]

In [14]:
y = dados_final["ICU"]
x_columns = dados_final.describe().columns[1:-1]
x = dados_final[x_columns]

x_train, x_test, y_train, y_test = train_test_split(x, y, stratify=y, random_state=73246)
modelo = LogisticRegression(solver='liblinear')
modelo.fit(x_train, y_train)

y_prediction = modelo.predict(x_test)
accuracy_score(y_test, y_prediction)

0.7159090909090909

In [15]:
descricao = dados_final.describe().T
descricao['eliminar'] = descricao['min'] == descricao['max']
eliminacao = list(descricao.query('eliminar').index)
eliminacao

['ALBUMIN_DIFF',
 'BE_ARTERIAL_DIFF',
 'BE_VENOUS_DIFF',
 'BIC_ARTERIAL_DIFF',
 'BIC_VENOUS_DIFF',
 'BILLIRUBIN_DIFF',
 'BLAST_DIFF',
 'CALCIUM_DIFF',
 'CREATININ_DIFF',
 'FFA_DIFF',
 'GGT_DIFF',
 'GLUCOSE_DIFF',
 'HEMATOCRITE_DIFF',
 'HEMOGLOBIN_DIFF',
 'INR_DIFF',
 'LACTATE_DIFF',
 'LEUKOCYTES_DIFF',
 'LINFOCITOS_DIFF',
 'NEUTROPHILES_DIFF',
 'P02_ARTERIAL_DIFF',
 'P02_VENOUS_DIFF',
 'PC02_ARTERIAL_DIFF',
 'PC02_VENOUS_DIFF',
 'PCR_DIFF',
 'PH_ARTERIAL_DIFF',
 'PH_VENOUS_DIFF',
 'PLATELETS_DIFF',
 'POTASSIUM_DIFF',
 'SAT02_ARTERIAL_DIFF',
 'SAT02_VENOUS_DIFF',
 'SODIUM_DIFF',
 'TGO_DIFF',
 'TGP_DIFF',
 'TTPA_DIFF',
 'UREA_DIFF',
 'DIMER_DIFF']

In [16]:
dados_final = dados_final.drop(eliminacao, axis=1)
dados_final.head()

   PATIENT_VISIT_IDENTIFIER  AGE_ABOVE65  ...  WINDOW  ICU
0                         0            1  ...     0-2  1.0
1                         2            0  ...     0-2  1.0
2                         3            0  ...     0-2  0.0
3                         4            0  ...     0-2  0.0
4                         5            0  ...     0-2  0.0

[5 rows x 195 columns]

In [17]:
y = dados_final["ICU"]
x_columns = dados_final.describe().columns[1:-1]
x = dados_final[x_columns]

x_train, x_test, y_train, y_test = train_test_split(x, y, stratify=y, random_state=73246)
modelo = LogisticRegression(max_iter=1000)
modelo.fit(x_train, y_train)

y_prediction = modelo.predict(x_test)
accuracy_score(y_test, y_prediction)

0.7159090909090909

In [18]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder()
a = np.array(x['AGE_PERCENTIL']).reshape(-1, 1)
b = pd.DataFrame(onehotencoder.fit_transform(a).toarray())
b.columns = perc_idade_dict.keys()
b

     10th  20th  30th  40th  50th  60th  70th  80th  90th  Above 90th
0     0.0   0.0   0.0   0.0   0.0   1.0   0.0   0.0   0.0         0.0
1     1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0         0.0
2     0.0   0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0         0.0
3     1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0         0.0
4     1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0         0.0
..    ...   ...   ...   ...   ...   ...   ...   ...   ...         ...
347   0.0   0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0         0.0
348   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0         1.0
349   0.0   0.0   0.0   0.0   1.0   0.0   0.0   0.0   0.0         0.0
350   0.0   0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0         0.0
351   0.0   0.0   0.0   0.0   1.0   0.0   0.0   0.0   0.0         0.0

[352 rows x 10 columns]

In [19]:
x_revisto = pd.concat([x.drop('AGE_PERCENTIL', axis=1), b],ignore_index=True,axis=1)
colunas = list(x.drop('AGE_PERCENTIL', axis=1).columns)
colunas.extend(b.columns)
x_revisto.columns = colunas
x_revisto

     AGE_ABOVE65  GENDER  DISEASE GROUPING 1  ...  80th  90th  Above 90th
0              1       0                 0.0  ...   0.0   0.0         0.0
1              0       0                 0.0  ...   0.0   0.0         0.0
2              0       1                 0.0  ...   0.0   0.0         0.0
3              0       0                 0.0  ...   0.0   0.0         0.0
4              0       0                 0.0  ...   0.0   0.0         0.0
..           ...     ...                 ...  ...   ...   ...         ...
347            0       1                 0.0  ...   0.0   0.0         0.0
348            1       0                 0.0  ...   0.0   0.0         1.0
349            0       0                 0.0  ...   0.0   0.0         0.0
350            0       1                 0.0  ...   0.0   0.0         0.0
351            0       1                 0.0  ...   0.0   0.0         0.0

[352 rows x 201 columns]

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x_revisto, y, stratify=y, random_state=73246)
modelo = LogisticRegression(max_iter=1000)
modelo.fit(x_train, y_train)

y_prediction = modelo.predict(x_test)
accuracy_score(y_test, y_prediction)

0.7272727272727273